# Node
node_modules/
npm-debug.log*

# Java
target/
*.class
*.jar

# Python
__pycache__/
*.pyc
*.pyo
.venv/

# Go
vendor/

# C build artifacts
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
ms5-card-service/card-service

# Docker
.env

# OS
.DS_Store
Thumbs.db
